@import '../variables';

$modal: modal;
$modal-z: 1000;

.#{$modal} {
  &:not(.is-open) {
    display: none;
  }
  .#{$modal}__backdrop {
    position: fixed;
    background: rgba($purple, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $modal-z - 1;
  }

  .#{$modal}__dialog {
    position: absolute;
    background: $white;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $modal-z;
  }
}
