.orders-col-1 {
  width: percentage(200/1140);
}

.orders-col-2 {
  width: percentage(142/1140);
}

.orders-col-3 {
  width: percentage(175/1140);
}

.orders-col-4 {
  width: percentage(263/1140);
}

.orders-col-5 {
  width: percentage(269/1140);
}

.orders-col-6 {
  width: percentage(91/1140);
}
